.twoj_slider_block.twoj_newsslider_theme3{
	background-color: #3e3e3e;  
	border: 2px solid #191919;
}

.twoj_newsslider_theme3 .twoj_slider_outter{
	background: #ffffff; 
}

.twoj_newsslider_theme3.twoj_slider_block_contain_leftbefore .twoj_slider_outter,
.twoj_newsslider_theme3.twoj_slider_block_contain_centerbefore .twoj_slider_outter,
.twoj_newsslider_theme3.twoj_slider_block_contain_rightbefore .twoj_slider_outter{
	border-top: 2px solid  #191919;
}

.twoj_newsslider_theme3.twoj_slider_block_contain_leftafter .twoj_slider_outter,
.twoj_newsslider_theme3.twoj_slider_block_contain_centerafter .twoj_slider_outter,
.twoj_newsslider_theme3.twoj_slider_block_contain_rightafter .twoj_slider_outter{
	border-bottom: 2px solid  #191919;
}
.twoj_newsslider_theme3 .twoj_slider_inner_ul{}
.twoj_newsslider_theme3 .twoj_slider_inner_ul,.twoj_slider_inner_li{}
.twoj_newsslider_theme3 .twoj_slider_inner_li{}

.twoj_newsslider_theme3 .twoj_slider_menu{}

.twoj_newsslider_theme3 .twoj_slider_menu_link{
	background: transparent url('%%CSS_URL%%/images/theme3/button.png') no-repeat center center;
	width: 15px;
	height: 36px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	outline: none;
	font-weight: bolder;
	
}

.twoj_newsslider_theme3 .twoj_slider_menu_link.twoj_slider_active_link{
	background: transparent url('%%CSS_URL%%/images/theme3/button_a.png') no-repeat center center;
	color: white;
}


.twoj_newsslider_theme3 .twoj_slider_button{
	width: 20px;	
	height: 20px;
	background: olive;
}

.twoj_newsslider_theme3 .twoj_slider_button_next_big{
	background: transparent url('%%CSS_URL%%/images/theme3/next.png') no-repeat center center;
	width: 47px;	
	height: 36px;
}
.twoj_newsslider_theme3 .twoj_slider_button_prev_big{
	background: transparent url('%%CSS_URL%%/images/theme3/prev.png') no-repeat center center;
	width: 47px;	
	height: 36px;
}
.twoj_newsslider_theme3 .twoj_slider_button_next{
	background: transparent url('%%CSS_URL%%/images/theme3/next_small.png') no-repeat center center;
}
.twoj_newsslider_theme3 .twoj_slider_button_prev{
	background: transparent url('%%CSS_URL%%/images/theme3/prev_small.png') no-repeat center center;
}

.twoj_newsslider_theme3 .twoj_slider_button_play{
	background: transparent url('%%CSS_URL%%/images/theme3/play_small.png') no-repeat center center;
}
.twoj_newsslider_theme3 .twoj_slider_button_stop{
	background: transparent url('%%CSS_URL%%/images/theme3/stop_small.png') no-repeat center center;
}

.twoj_newsslider_theme3 .twoj_slider_timer_indication{
	background-color: gray;
	height:1px;
}

.twoj_newsslider_theme3 .twoj_slider_pause{
	font-weight: normal;
	color: #353535;
	background-color: transparent;
	margin: 0 5px 5px 0;
	bottom: 0px;
	right: 0px;
}

.twoj_newsslider_theme3 .twoj_slider_position_righttop{ margin-top: 2px; margin-right: 2px; }

