.twoj_slider_block.twoj_newsslider_theme5{
	background-color: transparent;  
}

.twoj_newsslider_theme5 .twoj_slider_outter{
}


.twoj_newsslider_theme5 .twoj_slider_inner_ul, .twoj_slider_inner_li{}

.twoj_newsslider_theme5 .twoj_slider_inner_li{  }


.twoj_newsslider_theme5 .twoj_slider_menu{
	padding: 5px;
}

.twoj_newsslider_theme5 .twoj_slider_menu_link{
	padding: 0;
	text-align: center;
	outline: none;
	margin-left: 3px;
	margin-right: 3px;
	background-color: white;
	font-size: 11px ;
	color: black;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

.twoj_newsslider_theme5 .twoj_slider_menu_link.twoj_slider_active_link{
	background-color: #292c29;
	color: white;
	text-decoration: none;
}


.twoj_newsslider_theme5 .twoj_slider_button{
	width: auto;	
	text-indent: 0px;
	padding: 0;
	text-align: center;
	outline: none;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 2px;
	background-color: white;
	font-size: 12px ;
	color: black;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-top: 10px;	
}

.twoj_newsslider_theme5 .twoj_slider_button:hover{
	color: white;
	background-color: black;
}

.twoj_newsslider_theme5 .twoj_slider_button_next_big,
.twoj_newsslider_theme5 .twoj_slider_button_prev_big{
	padding: 0;
	margin: 0;
	font-size: 60px;
	font-weight: bolder;
	background-color: transparent;
	color: black;
	border: 0px none;
}
.twoj_newsslider_theme5 .twoj_slider_button_next_big{
	margin-right: -35px;
}
.twoj_newsslider_theme5 .twoj_slider_button_prev_big{
	margin-left: -35px;
}
.twoj_newsslider_theme5 .twoj_slider_button_next_big:hover,
.twoj_newsslider_theme5 .twoj_slider_button_prev_big:hover{
	border: 0px none;
 	background-color: transparent;
 	color: black;
}

.twoj_newsslider_theme5 .twoj_slider_button_next{
	margin-right: 10px;
}
.twoj_newsslider_theme5 .twoj_slider_button_prev{
	margin-left: 10px;
}

.twoj_newsslider_theme5 .twoj_slider_button_play{
		
}
.twoj_newsslider_theme5 .twoj_slider_button_stop{
	
}

.twoj_newsslider_theme5 .twoj_slider_timer_indication{
	background-color: black;
	height:2px;
}

.twoj_newsslider_theme5 .twoj_slider_pause{
	font-weight: normal;
	color: black;
	background-color: transparent;
	margin: 3px 5px 0px 0px;
	top: 0px;
	right: 0px;
}

.twoj_newsslider_theme5 .twoj_slider_position_leftafter{ padding-left: 5px; }
.twoj_newsslider_theme5 .twoj_slider_position_rightafter{ padding-right: 5px; }