
body        {font-family:Arial,Helvetica,sans-serif; 
             background-color:rgb(255,255,255);
             font-size:10pt;
             color:rgb(0,0,0); }

hr         {height:2px; color:rgb(192,192,192); }

.t1         {font-size:14pt;
             font-weight:bold; }

.t2         {font-size:10pt;
             font-weight:bold;
             color:rgb(102,102,255); }

.t3         {font-size:10pt;
             font-weight:bold; }

.tab1      {margin: 0px;
            border: 0px;
            background-color:rgb(255,255,255); 
            width:100%; }

.td0       {vertical-align:top;
            background-color:rgb(102,102,255);
            font-size:12pt;
            font-weight:bold;
            color:rgb(0,0,0); }

.td1       {vertical-align:top;
            background-color:rgb(102,102,255);
            font-size:10pt;
            font-weight:bold;
            color:rgb(0,0,0); }

.td1c      {vertical-align:top;
            text-align:center;
            background-color:rgb(102,102,255);
            font-size:10pt;
            font-weight:bold;
            color:rgb(0,0,0); }

.td2       {vertical-align:top;
            background-color:rgb(192,192,255);
            font-size:10pt;
            font-weight:bold;
            color:rgb(0,0,0); }

.td2c      {vertical-align:top;
            text-align:center;
            background-color:rgb(192,192,255);
            font-size:10pt;
            font-weight:bold;
            color:rgb(0,0,0); }

.td3       {vertical-align:top;
            background-color:rgb(192,192,255);
            font-size:10pt;
            font-weight:normal;
            color:rgb(0,0,0); }

.td3c      {vertical-align:top;
            text-align:center;
            background-color:rgb(192,192,255);
            font-size:10pt;
            font-weight:normal;
            color:rgb(0,0,0); }

.td4       {vertical-align:top;
            background-color:rgb(192,192,255);
            font-size:10pt;
            font-weight:bold;
            font-style:italic;
            color:rgb(0,0,0); }

.td4c      {vertical-align:top;
            text-align:center;
            background-color:rgb(192,192,255);
            font-size:10pt;
            font-weight:bold;
            font-style:italic;
            color:rgb(0,0,0); }

.td5       {vertical-align:top;
            background-color:rgb(255,255,255);
            font-size:10pt;
            font-weight:normal;
            color:rgb(0,0,0); }

.td5c      {vertical-align:top;
            text-align:center;
            background-color:rgb(255,255,255);
            font-size:10pt;
            font-weight:normal;
            color:rgb(0,0,0); }

.td6       {vertical-align:top;
            background-color:rgb(255,255,255);
            font-size:10pt;
            font-weight:normal;
            font-style:italic;
            color:rgb(0,0,0); }

.td6c      {vertical-align:top;
            text-align:center;
            background-color:rgb(255,255,255);
            font-size:10pt;
            font-weight:normal;
            font-style:italic;
            color:rgb(0,0,0); }

a:link      {color:rgb(0,0,255);
             font-weight:normal; }

a:visited   {color:rgb(0,0,255);
             font-weight:normal; }

a:hover     {color:rgb(0,0,255);
             font-weight:normal; }

a:active    {color:rgb(0,0,255);
             font-weight:normal; }
