.jg-bootone .well{
  text-align:center;
}

.jg-counts{
  text-align:center;
  margin-bottom:10px;
}

.jg-pathway{
  margin-bottom:10px;
}
.jg-pathway.jg-pathway-footer{
  margin-top:10px;
}
.jg-pathway.jg-pathway-footer:last-child{
  margin-bottom:0;
}

.jg-bootone .caption h3{
  margin-top:10px;
}

.jg-comment-author{
  width:80px;
}

.jg-comments-form:last-child{
  margin-top:20px;
}
.jg-comments-form:first-child{
  margin-bottom:20px;
}

.jg-bootone .pager{
  margin:10px 0;
}
.jg-bootone .pager:first-child{
  margin-top:0;
}
.jg-bootone .jg-pager-footer{
  margin-bottom:0px;
}

.jg-bootone .navbar-search{
  margin-bottom:10px;
}
.jg-bootone .jg-navbar-search-footer:last-child{
  margin-bottom:0px;
}

.jg-toplist-footer{
  margin-bottom:10px;
}
.jg-toplist-footer:last-child{
  margin-bottom:0;
}

.jg-iconbar{
  margin-top:10px;
}

.jg_displaynone{
  display:none;
}

.jg_icon{
  margin:0 3px;
}

.jg-minis{
  margin:5px 0;
}

.jg-bootone .thumbnails {
  margin-bottom:0;
}
.jg-bootone .thumbnail > a > img{
  display:block;
  margin-right:auto;
  margin-left:auto;
}

.jg-category-description{
  text-align:center;
  padding-bottom:5px;
}
.jg-category-ordering-controls{
  margin-bottom:20px;
}

.jg-detail-previous-link{
  float:left !important;
  width:50% !important;
}
.jg-detail-next-link{
  float:right !important;
  width:50% !important;
}