/* ++++++++++++++  login  ++++++++++++++ */

#login-form .inputbox
{
        border-radius:4px;
}


img a:hover, img a:active, img a:focus {
background:#ffffff!important;
}

img  {
background:#ffffff !important;
}

a:hover, a:active, a:focus {
background: #FFFFFF!important;
color: #F3B408;
}
