/**
 * @author  ( Angie Radtke  )
 * @package Joomla
 * @subpackage Accessible-Template-Beez
 * @copyright Copyright (C) 2005 - 2009 Open Source Matters. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * Joomla! is free software. This version may have been modified pursuant to the
 * GNU General Public License, and as distributed it includes or is derivative
 * of works licensed under the GNU General Public License or other free or open
 * source software licenses. See COPYRIGHT.php for copyright notices and
 * details.
 */

#header ul.menu li a:link, #header ul.menu li a:visited {
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline !important;
    font-weight: bold;
    line-height: 10px;
    padding: 0 25px 20px 5px;
}

#header ul.menu li a:hover,
#header ul.menu li a:active,
#header ul.menu li a:focus
{
color:#f3b408;
background:transparent;
}

#right .moduletable .image-title {
    float: left;

    padding-bottom:5px;
}

#right ul.menu li {
    padding-bottom:15px;
    padding-top:5px;
}

#right ul.menu li {
    border-bottom: 1px solid #F3B408;
    float: left;
    
}

#right {
    float: left;
    margin: 0 0 10px;
    padding: 0 0 5px;
    position: relative;

}

#right .moduletable {


    width: 160px;
    float: left;

}


.login-fields input
{
        width:14em
}

#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend
{
        margin-bottom:15px
}

.login-fields input
{
        width:14em
}

#close a
{
        cursor:pointer
}

#close a span
{
        line-height:normal
}


.img caption left {
        float: left;
            margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 3px;
}

.caption right {
        float: right;
        margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 3px;
}

.caption left p {
        clear: left;
        text-align: center;
}

.caption right p {
        clear: right;
        text-align: center;
}

div#<?php echo $id; ?> div.floatck div.maxidrop-main {

    zoom:1; /* important for IE */

}

div#<?php echo $id; ?> div.floatck div.maxidrop-main2 {

    zoom:1; /* important for IE */

}
