/**
 * @author  ( Angie Radtke  )
 * @package Joomla
 * @subpackage Accessible-Template-Beez
 * @copyright Copyright (C) 2005 - 2009 Open Source Matters. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * Joomla! is free software. This version may have been modified pursuant to the
 * GNU General Public License, and as distributed it includes or is derivative
 * of works licensed under the GNU General Public License or other free or open
 * source software licenses. See COPYRIGHT.php for copyright notices and
 * details.
 */

a:hover,
a:active,
a:focus
{
background:#ffffff;
color:#F3B408;
padding-top:0px;
padding-bottom:0px;
margin-top:0px;

}

#img a:hover,
a:active,
a:focus
{
background:#ffffff;
color:#F3B408;
padding-top:0px;
padding-bottom:0px;
margin-top:0px;

}

#main a:link, #main a:visited {
    padding-top:0px;
padding-bottom:0px;
margin-top:0px;

}

tr, td {
    height: 40px;
}
div#<?php echo $id; ?> div.floatck div.maxidrop-main {

    zoom:1; /* important for IE */

}

div#<?php echo $id; ?> div.floatck div.maxidrop-main2 {

    zoom:1; /* important for IE */

}
