/**

 * @author ( Angie Radtke )
 * @package Joomla
 * @subpackage Accessible-Template-Beez
 * @copyright Copyright (C) 2005 - 2009 Open Source Matters. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * Joomla! is free software. This version may have been modified pursuant to the
 * GNU General Public License, and as distributed it includes or is derivative
 * of works licensed under the GNU General Public License or other free or open
 * source software licenses. See COPYRIGHT.php for copyright notices and
 * details.
 */



#all { width: expression(document . body . clientWidth > 960 ? "1050" : "auto");color: #333333;  }
#footer-inner { width: expression(document . body . clientWidth > 960 ? "1025" : "auto");  }
#footer { width: expression(document . body . clientWidth > 960 ? "1025" : "auto");  }


#header-image
{overflow:hidden; zoom:1;
width:100%}
#all
{
border:solid 0px #fff
}

#header ul
{width:960px}

#header ul.menu {
    font-size: 10px;
    list-style-type: none;
    margin-top: 109px !important;
}


#header ul.skiplinks li a
{

background:#cc0000;
border:0px solid #000

}



#contentarea,
#contentarea2
{
       display:inline-block;
        position:relative;
       zoom:1;



}

#main
{
            min-height:300px;
            width: 515px;
}

#back
{
        margin: 0;
        padding:0 0px !important;

}

#right
{
        float:left;
        width: 160px;
        text-align:left !important
}


.left {
    float: left;
    margin: -4px 27px 10px 0;
    padding: 0 0 0 20px;
    position: relative;
    width: 160px;
}
/* haslayout erzwingen */

.blog
{
            width:100%
}

.article_row
{
        width:auto;
}

.row1 .cols2
{
        width:auto;
}

.moduletable,
.moduletable_js
{
            zoom:1
}

#nav ul li,
#right ul li
{
            height:100%
}

p.articleinfo
{
            display:inline-block
}

h1
{

}

ul.tabs
{
        text-align:left;

}

ul.newsflash-horiz,
#footer-outer,
ul.tabs
{
        zoom:1
}

.tabcontent
{
        overflow:hidden !important;
        position:relative
}

#main h1
{ zoom:1}

#footer-outer li
{height:1%}
#bottom
{
 display:inline-block;

}
.box
{width:26%}

.panel,
div.current
{zoom:1}

.contact-image
{
        display:inline-bock
}

.item-page
{ width:100%}

#mailto-window  .mailto-close a
{

        width:25px;
        height:25px;

}


#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend
{
        margin-bottom:15px
}

.login-fields input
{
        width:14em
}

dd.error
{zoom:1}


#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend
{
        margin-bottom:15px
}

.login-fields input
{
        width:14em
}

dd.error
{zoom:1}

#close a
{
        cursor:pointer
}

#close a span
{
        line-height:normal
}
div#<?php echo $id; ?> div.floatck div.maxidrop-main {

    zoom:1; /* important for IE */

}

div#<?php echo $id; ?> div.floatck div.maxidrop-main2 {

    zoom:1; /* important for IE */

}
