


#main h1 {
    border-bottom: 1px solid #DDDDDD;
    border-top: 0 solid #DDDDDD;
    color: #F3B408;
    font-family: Arial;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.19em;
    margin: 0 -5px 10px;
    padding: 5px;
}

h1 {
    border-bottom: 1px solid #DDDDDD;
    border-top: 0 solid #DDDDDD;
    color: #F3B408;
    font-family: Arial;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.19em;
    margin: 0 -5px 10px;
    padding: 5px;
}
