/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}

@media(min-width: 320px) and (max-width: 767px) {
	/*critical*/
	body.phone #header {
		background: url('/images/header-bckgr-S.jpg') left top no-repeat;
	}
}
@media(max-width: 375px) {
		body.site.phone.mobile a.subMenuItem-mobile h3 {
	    font-size: 12px;
	}
}
@media(max-width: 414px) and (orientation: portrait) {
	body#body.phone footer a.imprLink {
	    line-height: 30px;
	    padding: 0px 0px 0px 5px;
	}
}
@media(max-width: 414px) {
	/*critical*/
	body.desktop header#header {
		display: none;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
	/*critical*/
	body#body.mobile div.right .infoMenu h3 {
		padding-left: 40px;
	}
	body#body.mobile div.right .infoMenu ul.nav.menu li,
	body#body.mobile div.right .infoMenu ul.nav.menu li:last-child {
		padding-left: 40px;
	}
	body#body.tablet .flexItem:nth-of-type(1),
	body#body.tablet .flexItem:nth-of-type(3) {
		flex-basis: initial;
			-ms-flex-preferred-size: initial;
	}
	body#body.tablet #header {
	  min-height: 300px;
	}	
}
@media(max-width: 375px) and (orientation: portrait) {
	body#body.site.mobile figcaption {
	    font-size: 7px;
	}
}
@media(max-width: 767px) and (orientation: landscape) {
	body#body.mobile main.itemid-108 .blog .row-fluid [class*="span"] {
		float: left;
		width: 33%;
	}
}
@media(max-width: 767px) and (orientation: portrait) {

		body.mobile table td img {
		    width: 70px;
		}
		body.site.mobile figcaption,
		body.site.mobile figure {
		    font-size: 10px;
		    line-height: 15px;
		}
		body.site.mobile .pull-left.item-image,
		body.site.mobile .pull-right.item-image {
			float: none;
		}

/*	body#body.mobile table {
	    max-width: 300px !important;
	}
	body#body.mobile table td {
	    width: 30px !important;
	    text-align: left !important;
	}
	body#body.mobile table img {
	    max-width: 40% !important;
	}*/
}
@media(max-width: 767px) {
	/*critical*/
	body.site.phone .carousel {
	    height: auto;
	}
	body.phone ol.breadcrumb {
		font-size: 10px;
	}
	body.phone main.itemid-147 nav.imgNav {
		margin: 0px;
		padding: 0px;
	}
	body.phone .imgNav-row.phone img {
	    max-width: 70px;
	}
	body.phone .imgNav-row.phone h3.navItemHeader {
	    font-size: 14px;
	    text-transform: uppercase;
	    color: #223d8c;
	    position: initial;
	    transform: initial;
	    opacity: 1;
	    transition: none;
	}
	body#body.mobile .mobileInfoNav.span3.right img {
	    float: right !important;
	}	
	body.mobile div.infoMenu {
		z-index: 999;
	}
	body.mobile div.infoDropdown ul.nav.menu {
		display: none;
	}
/*	body.mobile div.infoDropdown.open a.infoDropdown-toggle:after {
	    content: attr(title);
	    font-size: 16px;
	    color: #fff;
	    position: absolute;
	    top: 30px;
	    right: 3px;
	    z-index: 14;
	}*/	
	div.mobileInfoNav.right div.infoDropdown {
		position: relative;
	}
/*	body.mobile .infoDropdown.open a.infoDropdown-toggle {
		top: -60px;
	}*/
	body.mobile a.infoDropdown-toggle {
		position: absolute;
	    top: -30px;
	    z-index: 999;
	    color: #fff;
	    right: 5px;
	    font-size: 16px;
	    padding: 0px 15px 10px 15px;
	    text-decoration: underline;
	    transition: all .20s ease-in-out;
	}
	body.site.desktop .flexItem img {
	    width: 20%;
	}
	body.phone .jg_subcatelem_cat,
	body.phone .jg_subcatelem_cat_r,
	body.phone .jg_element_cat {
		float: none;
		width: 100%;
		margin-bottom: 15px;
	}
	body#body.phone .jg_catelem_txt,
	body#body.phone .jg_row {
    	text-align: center !important;
	}
	body.phone {
	    padding-right: 0px;
	    padding-left: 0px;
	}
	body.phone .innerwidth {
	    padding-right: 20px;
	    padding-left: 20px;
	}
	.phone.headerH2 {
		font-size: calc(16px + 16 * ((100vw - 414px) / 414 ));
		text-align: center;
		margin: 0 0;
	}
	body.phone .logoContainer {
	    padding: 0px 0 0;
	    min-height: 130px;
	    position: relative;
	}
	body.mobile .flexItem:nth-of-type(1) {
	    position: absolute;
	    width: 40%;
	    text-align: left;
	    bottom: 10px;
	    padding-left: 10px;
	}
	.flexItem:nth-of-type(2) {
	    position: absolute;
	    width: 100%;
	    right: 0;
	    text-align: center;
	}
	a.brand img {
	    max-width: 115px;
	    padding-top: 5px;
	}
	/*non-critical*/
	body.phone .copyName {
		font-size: 0.7em;
	}
	body.phone img.logoFooter {
		max-width: 60%;
	}	
}
@media(max-width: 800px) {
	/*critical*/

	body.phone.mobile a.subMenuItem-mobile img {
		position: absolute;
	    top: 30%;
	    transform: translate(-50%);
	}
	body.phone.mobile .subMenu-row:first-child a.subMenuItem-mobile:nth-child(1) h3 {
	    background: #f4b500;
	}
	body.phone.mobile .subMenu-row:first-child a.subMenuItem-mobile:nth-child(2) h3 {
	    color: #223d8c;
	}
	body.phone.mobile .subMenu-row:nth-child(2) a.subMenuItem-mobile:nth-child(1) h3 {
	    background: #7cc1e3;
	}
	body.phone.mobile .subMenu-row:nth-child(2) a.subMenuItem-mobile:nth-child(2) h3 {
	    background: #fd6c0b;
	}
	body.phone.mobile .subMenu-row:nth-child(3) a.subMenuItem-mobile:nth-child(1) h3 {
	    background: #62d382;
	}
	body.phone.mobile .subMenu-row:nth-child(3) a.subMenuItem-mobile:nth-child(2) h3 {
	    background: #ea4f70;
	}
	body.phone.mobile a.subMenuItem-mobile {
	    width: calc((100% / 2) - 10px);
	    text-align: center;
	    box-shadow: 0px 6px 40px -10px #b3b3b3;
	    text-decoration: none;
	    position: relative;
	    background: #fff;
	    z-index: 1;	    
	}
	body.phone.mobile a.subMenuItem-mobile {
	    height: 180px;
	    margin-bottom: 20px;
	}
	body.phone.mobile a.subMenuItem-mobile h3 {
	    font-size: 14px;
	    line-height: 20px;
	    margin: 0px;
	    padding: 5px 0px;
	    color: #fff;
	    font-weight: normal;
	    text-transform: uppercase;
	}
}
@media(min-width: 320px) and (max-width: 1280px) {
	body.mobile .page-header h1,
	body.mobile main#content h1 {
		font-size: calc(23px + (26 - 23) * ((100vw - 320px) / (1280 -320 )));
	}
	body.mobile .page-header h2,
	body.mobile .blog h2, 
	body.mobile main#content h2 {
		font-size: calc(21px + (24 - 21) * ((100vw - 320px) / (1280 -320 )));
	}
	body.mobile .item-page h3 {
		font-size: calc(18px + (21 - 18) * ((100vw - 320px) / (1280 -320 )));
	}
}
@media(min-width: 768px) and (max-width: 1280px) {
	/*critical*/
	body.site.tablet .carousel {
	    min-height: 320px;
	}
	body.mobile div.right .infoMenu h3 {
		text-align: left;
		padding-left: 30px;
	}
	body.mobile div.right .infoMenu ul.nav.menu li,
	body.mobile div.right .infoMenu ul.nav.menu li:last-child {
		padding-left: 30px;
	}
	body.tablet .flex {
        -ms-flex-pack: distribute;
            justify-content: space-around;
	}
	.flexItem img {
	    width: 80%;
	}
	body.tablet .flexItem:nth-of-type(1),
	body.tablet .flexItem:nth-of-type(3) {
		flex-basis: 140px;
			-ms-flex-preferred-size: 150px;
	}	
}
@media(min-width: 768px) {
	/*critical*/
	body.tablet a.infoDropdown-toggle,
	body.desktop a.infoDropdown-toggle {
		display: none;
		height: 0px;
	}
	.flexItem h2.headerH2 {
	    font-size: calc(21px + 8 *((100vw - 1024px ) / 512));
	    color: #223d8c;
	    font-weight: 500;
	}
	.flexItem h2.headerH2 span {
	    font-size: calc(32px + 8 *((100vw - 1024px ) / 512));
	}	
	/*non-critical*/
	.bottom3-wrap {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}
	.module_bottom3 {
	    width: 39%;
	}
	
}
@media (max-width: 979px) { 
	body.desktop .nav-collapse .nav {
	    max-width: 130px;
	    display: block;
	}
	body.desktop .nav-collapse .nav ul,
	body.desktop .nav-collapse .nav ul ul {
		display: block;
		margin-left: 50px;
	}
	body.desktop .nav-collapse .nav ul ul {
		background: #f1f1f1;
	}
	body.desktop li.dropdown-submenu.deeper.parent {
	    background: #e6e6e6;
	    margin-left: 20px;
	}
}
@media(max-width: 1024px) {
	/*critical*/
	.item-page p {
		font-size: 16px;
	}
	body.desktop .flexItem img {
	    width: 50%;
	}
	body.desktop .flexItem h2.headerH2 {
	    font-size: 16px;
	    line-height: 20px;
	}
	body.desktop .flexItem h2.headerH2 span {
	    font-size: 21px;
	}
	body.desktop .flex {
        -ms-flex-pack: distribute;
            justify-content: space-around;
	}
}
@media(min-width: 1025px) {
	/*critical*/
	body.desktop .img_caption.left {
    	margin: 0 20px 20px 0;
	}	
	body.desktop .img_caption.right {
    	margin: 0 0px 20px 20px;
	}
	body.desktop a.subMenuItem img {
	    margin: 10px 0;
	}
	.item-page p {
		font-size: 16px;
	}
	.flexItem h2.headerH2 {
	    font-size: calc(30px + 8 *((100vw - 1920px ) / 960));
	}
	.flexItem h2.headerH2 span {
	    font-size: calc(32px + 8 *((100vw - 1920px ) / 960));
	}	
	.flexItem img {
	    width: calc(70% + 128 *((100vw - 1680px ) / 840));
	}
	.flex {
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}
}
@media(max-width: 1280px) {
	/*critical*/
		body#body.mobile .item-page table {
			width: initial !important;
			height: initial !important;
		}
		body.mobile table td {
		    width: 20%;
		}
		body.mobile .itemid-658 table td {
		    width: initial;
		}
	body.site.desktop .item-page,
	body.site.desktop .content,
	body.site.desktop .bottom,
	body.site.desktop .bottom2,
	body.site.desktop nav.subMenu {
	    padding: 0 8px;
	}
	body#body.mobile b.caret {
	    display: none;
	}	
	body.mobile .navbar-mobile input[type="image"] {
		width: 43px;
	}
	body.mobile input#mod-search-searchword {
	    border: none;
	}
	body.mobile form.form-inline.mobile {
	    padding: 5px 20px;
	}
	p.btnDesc {
	    color: #fff;
	    right: 40px;
	    position: absolute;
	    top: 5px;
	    text-transform: uppercase;
	    font-weight: 300;
	}
	html.mm-opened .button_container .top {
      -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
          -ms-transform: translateY(7px) translateX(0) rotate(45deg);
              transform: translateY(7px) translateX(0) rotate(45deg);
      background:  #fff;
    }
    html.mm-opened .button_container .middle {
      opacity: 0;
      background:  #fff;
    }
    html.mm-opened .button_container .bottom {
      -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
          -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
              transform: translateY(-8px) translateX(0) rotate(-45deg);
      background:  #fff;
    }
    .button_container span {
		background: #fff;
		border: none;
		height: 3px;
		width: 80%;
		position: absolute;
		top: 7px;
		left: 7px;
		-webkit-transition: all .35s ease;
		      transition: all .35s ease;
		cursor: pointer;
    }
    .button_container span:nth-of-type(2) {
      top: 14px;
    }
    .button_container span:nth-of-type(3) {
      top: 21px;
    }
	body.mobile .mm-btn {
	    right: 40px;
	    top: 5px;
	}
	body.mobile .navbar-mobile {
		background: #f3b408;
		position: relative;
	}
	body.mobile .mm-listview .mm-next.mm-fullsubopen {
	    width: 50%;
	}
	body.mobile .mm-listview li.item-878 .mm-next.mm-fullsubopen {
	    width: 100%;
	}
	body.mobile .mm-listview li.active {
		font-weight: bold;
	}
	html.mm-opening body.mobile header#header {
		position: relative;
		z-index: -1;
	}
	html.mm-right body.mobile .mm-menu.mm-effect-menu-zoom {
		opacity: 0;
		transition: opacity .05s ease-in-out;		
	}
	html.mm-right.mm-opening body.mobile .mm-menu.mm-effect-menu-zoom {
		opacity: 1;
		transition: opacity .3s ease-in-out;
	}
/*	body.mobile .mm-menu.mm-offcanvas.mm-right {
	    left: 50%;
	}*/
	body.tablet.mobile .imgNav-row.tablet img[alt*="gymnastik-wettkampf"] {
		width: 70%;
	}
	body.tablet.mobile .imgNav-row.tablet img[alt*="gymnastik-wettkampf"] + h3.navItemHeader {
		font-size: 11px;
	}	
	body.tablet.mobile .imgNav-row.tablet {
	        -webkit-justify-content: center;
	            -ms-flex-pack: center;
	                justify-content: center;
	}
	body.mobile .imgNav-row {
	    margin-bottom: 30px;
	}	
	body.tablet.mobile h3.navItemHeader {
		font-size: 12px;
	    bottom: -40px;
	    left: 0px;
	    padding-left: 0px;
	    transform: scale(0.9,0.9);
	    opacity: 1;
	    z-index: 0;
	    /* white-space: nowrap; */
	    text-align: center;
	    min-width: 50px;
	}
	body.tablet.mobile a.subMenuItem h3 {
	    font-size: 12px;
	    line-height: 20px;
	}

}
@media(min-width: 1281px) {
	/*critical*/
/*	body.desktop div.right .infoMenu ul.nav.menu li.item-714.current.active {
		padding-left: 30px;
	}
	body.desktop div.right .infoMenu ul.nav.menu li,
	body.desktop div.right .infoMenu ul.nav.menu li:last-child {
		padding-left: 46px;
	}*/
	div#module_81 {
	    text-align: right;
	}
	ul.nav.menu.nav-pills>li {
	    padding-right: 5px;
	    text-transform: uppercase;
	}

}
@media(max-width: 1599px) {
	/*critical*/
	.logoContainer {
	    padding: 20px 0 0 ;
	    height: initial;
	}
}
@media(min-width: 1600px) {
	/*critical*/
	.logoContainer {
	    padding: 0 0;
	    height: 355px;
	}	
}