/*
 * Overrides CSS
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

/*Resp overrides*/


@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1180px;
      margin: 0px auto;
  }
}
/* critical CSS */
  body.site {
    font-family: 'Source Sans Pro', sans-serif;
    animation:fadein .6s ease-in-out ;
      -webkit-animation:fadein .6s ease-in-out; 
  }
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

body.desktop {
    font-size: 100%;
}
body.mobile .content,
body.mobile #copyright,
body.mobile .bottom2,
body.mobile .bottom3,
body.mobile .module_bottom1 h2 {
    padding-left: 20px;
    padding-right: 20px;
}
a {
    transition: all .3s ease-in-out;
}

.primColor {
    color: #223d8c;
}
.secColor {
    color: #f3b408;
}
.clr {
    clear: both;
}
h1,h2,h3 {
    font-weight: normal;
}
.item-page p {
    line-height: 25px;
}
body.site ol.breadcrumb a.pathway {
    color: #f3b408;
}
.item-page h1,
.item-page h2,
.item-page h3 {
    line-height: 30px;
}
/*lzyLoad*/
.lazy-hidden {
    opacity: 0;
}
.lazy-loaded {
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
/*header*/
body.phone #header {
  background: url('/images/header-bckgr-S.jpg') left top no-repeat;
  min-height: 110px;
  background-size: 100%;
}
body.tablet #header {
  background: url('/images/header-bckgr-M.jpg') left top no-repeat;
  min-height: 220px;
  background-size: 100%;
}
body.desktop #header {
  background: url('/images/header-bckgr-XL.jpg') left top no-repeat;
  background-size: 100%;
  border-bottom: 15px solid #233c8e;
}
header#header .innerwidth {
    position: relative;
}
header#header picture img {
    width: 100%;
}
.logoContainer {
    margin: 0 auto;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.copyWrapper.flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flexItem h2.headerH2,
h2.headerH2 {
    color: #223d8c;
    text-shadow: 0px 3px 3px #9a9a9a;
}
.blog h2,
main#content h2 {
    color: #00417E;
}
body.desktop .blog h2,
body.desktop main#content h2 {
    font-size: 25px;
}
.page-header h1,
h1 {
    color: #223d8c;
    text-transform: uppercase;
    font-size: 26px;
}
main#content.itemid-106 h1 {
    color: #F3B408 ;
}
.module h2 {
    color: #223d8c;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 25px;
}
.page-header {
    border: none;
    padding-bottom: 0px;
}

/*content*/
  /*table Situation*/
main#content.itemid-783 table {
    width: initial !important;
    height: initial !important;
}
body.site main#content.itemid-783 table td {
    padding: 10px;
    width: 120px;
}
body.site.mobile.phone main#content.itemid-783 table td {
    max-width: 60px;
}
/*body.site main#content table {
    font-size: 13px;
}*/
  /*<--END table Situation*/

body.site html body .html5flippingbook .fa-lg,
body.site div.tb_social {
    z-index: 999;
}
body.site .icon-first {
    background-position: -216px -72px;
    margin-top: 3px;
}
body.site .icon-previous {
    background-position: -240px -72px;
    margin-top: 3px;
}
body.site .icon-next {
    background-position: -336px -72px;
    margin-top: 3px;
}
body.site .icon-last {
    background-position: -360px -72px;
    margin-top: 3px;
}


body.site a.btn:not(.dropdown-toggle) {
    background-image: none;
    background: #233c8e;
    color: #fff;
    text-shadow: none;
    box-shadow: 0px 5px 30px -9px #233c8e;
    border: outset;
    border-width: 1px;
    border-radius: 5px;
    font-size: 12px;
    transition: background .2s ease-in-out,
                color .3s ease-in-out;
}
body.site main.Firefox a.btn {
    box-shadow: 0px 5px 20px -9px #233c8e;
}
body.site a.btn span.icon-chevron-right {
    background-image: none;
    width: initial;
}
body.site a.btn:hover {
    background: #fff;
    color: #233c8e;
    border-color: #233c8e;
}

.item-page,
.content,
.bottom,
.bottom2,
nav.subMenu,
.blog {
    margin-bottom: 60px;
}
figure.pull-left {
    margin: 0px 20px 20px 0px;
}
body.site div.blog p.img_caption {
    font-size: 14px;
    padding: 10px 0 0;
}
.img_caption.left,
div.pull-left {
    margin: 0 10px 5px 0;
}
.pull-left {
    margin: 5px 20px 20px 0;
}
.img_caption.right,
.pull-right {
    margin: 0 0px 5px 10px;
}
a.subMenuItem img {
    margin: 10px 0;
}
iframe#kontaktGoogleMaps {
    width: 100%;
    margin: 25px 0px 50px 0px;
}
body.desktop fieldset#jform_com_fields_dsgvo {
    max-width: 60%;
}
body.tablet fieldset#jform_com_fields_dsgvo {
    max-width: 80%;
}
body#body fieldset legend {
    display: none;
}
body#body input#jform_com_fields_dsgvo0 {
    width: auto;
}
body.desktop form#contact-form input,
body.desktop form#contact-form textarea {
    width: 50%;
}
body.mobile form#contact-form input,
body.mobile form#contact-form textarea {
    width: 80%;
}
body.site form#contact-form textarea {
    height: 100px;
}
body.site main#content.itemid-104 dt {
    font-weight: normal;
}
body.site .item-page table {
    float: none;
}
body.site div[itemprop="articleBody"] {
    font-size: 16px;
}

/* critical CSS */
body.site figcaption {
    font-size: 14px;
}

/* Mic Aenderung figuretext CSS */

body.site figure {
    font-size: 14px;
}

body.site div[itemprop="articleBody"] ul li{
    font-size: 1em;
    line-height: 1.5em;
}
body.site .thumbnail img {
    margin: 0;
}
body.site .thumbnail {
    border: none;
    box-shadow: none;
}
body.site main.span9 div.contact .dl-horizontal dd {
    margin-left: 0px;
}
body.site main.span9 div.contact .dl-horizontal dt {
    text-align: left;
    width: 60px;
}
body.site span#TB_prev,
body.site span#TB_next,
body.site div#TB_closeWindow {
    font-size: 16px;
}
body.site #TB_window {
    z-index: 1001;
}
body.site #TB_overlay {
    z-index: 1000;
}
body.site #TB_window {
    bottom: 20%;
}
body.site .gallery>div {
    margin-bottom: 30px;
}
body.site div.search {
    font-size: 16px;
    line-height: 25px;
}
body.site div.search dd {
    line-height: 25px;
}
body.site form#contact-form {
    background: transparent;
}
/*content navIMg*/
h4.overlayHeader {
    position: absolute;
    bottom: 0px;
    height: 70%;
    z-index: -1;
    opacity: 0;
    width: 100%;
    transition: opacity .3s cubic-bezier(.44,-0.74,.54,1.98),
                bottom .5s cubic-bezier(.44,-0.74,.54,1.98);
}
a.subMenuItem:hover h4.overlayHeader {
    bottom: 130px;
    opacity: 1;
    padding-top: 10px;
    transition: opacity .5s cubic-bezier(.44,-0.74,.54,1.98),
                bottom .6s cubic-bezier(.44,-0.74,.54,1.98);    
}
a.subMenuItem h3,
a.subMenuItem h4  {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}
a.subMenuItem h3 {
    border-top: 2px solid #fff;
}
.subMenu-row a.subMenuItem:nth-child(1) h3,
.subMenu-row a.subMenuItem:nth-child(1) h4 {
    color: #223d8c;
    background: rgba(255,255,255, 0.9);
}
.subMenu-row a.subMenuItem:nth-child(2) h3,
.subMenu-row a.subMenuItem:nth-child(2) h4 {
    background: #7cc1e3;
}
.subMenu-row a.subMenuItem:nth-child(3) h3,
.subMenu-row a.subMenuItem:nth-child(3) h4 {
    background: #fd6c0b;
}
.subMenu-row a.subMenuItem:nth-child(4) h3,
.subMenu-row a.subMenuItem:nth-child(4) h4 {
    background: #62d382;
}
.subMenu-row a.subMenuItem:nth-child(5) h3,
.subMenu-row a.subMenuItem:nth-child(5) h4 {
    background: #ea4f70;
}
a.subMenuItem {
    width: calc((100% / 5) - 20px);
    text-align: center;
    box-shadow: 0px 6px 40px -10px #b3b3b3;
    text-decoration: none;
    position: relative;
    background: #fff;
    z-index: 1;
}
.imgNav-row,
.subMenu-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
      -webkit-align-items: flex-end;
        -ms-flex-align: end;
    align-items: flex-end;
}
.fullwidth.bckgr {
    background: url(/images/nav-img-bckgr.jpg) top center no-repeat;
    background-size: cover;
}
nav.imgNav {
    margin: 50px 0 0;
    padding: 50px 0;
}
hr.navDivider {
    margin: 0px 0 25px;
    border: 0;
    border-top: 0px solid #eee;
    border-bottom: 3px solid #223d8c;
}
/*--- desktop vs mobile! ----*/
h3.navItemHeader {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #223d8c;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: -10px;
    padding-left: 10px;
    transform: scale(0,0);
    opacity: 0;
    z-index: 0;
      transition: all .3s ease-in-out;
}
body.desktop nav.imgNav .imgNav-row:nth-of-type(2) .imgNavItem:nth-of-type(7) img:hover + h3.navItemHeader:after,
body.desktop nav.imgNav .imgNav-row:nth-of-type(2) .imgNavItem:nth-of-type(9) img:hover + h3.navItemHeader:after,
body.desktop nav.imgNav .imgNav-row:nth-of-type(1) .imgNavItem:nth-of-type(6) img:hover + h3.navItemHeader:after {
    width: 130px;
}
.imgNav-row {
    margin-bottom: 20px;
}
nav.imgNav .imgNav-row:nth-of-type(1) {
    margin-bottom: 40px;
}
body.desktop nav.imgNav .imgNav-row:nth-of-type(1) .imgNavItem:last-child {
    transform: translateX(-40px);
}

a.imgNavItem {
    position: relative;
    /*flex-basis: 50px; */
/*    max-width: 55px;*/
}
body.mobile a.imgNavItem {
    -webkit-flex-basis: 50px;
        -ms-flex-preferred-size: 50px;
            flex-basis: 50px; 
    margin-right: 5%;
}
a.imgNavItem img {
    transform: scale(1,1);
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 10px 0;
    max-height: 70px;
      transition: all .4s cubic-bezier(.44,-0.74,.54,1.98);
}
body.desktop .imgNav-row img:hover {
    transform: scale(1.8,1.8);
    bottom: 20px;
}
body.desktop .imgNav-row img:hover + h3.navItemHeader {
    bottom: 115px;
    transform: scale(1,1);
    opacity: 1;
}
h3.navItemHeader:after {
    content: '';
    width: 00px;
    height: 00px;
    position: absolute;
    background: rgba(255, 255, 255, 0.53);
    bottom: 0px;
    left: 0;
    z-index: -1;
    opacity: 0;
    box-shadow: 0px 2px 30px -6px #9e9e9e;
      transition: all .4s ease-in-out,
                  height .5s ease-in-out;
}
body.desktop .imgNav-row img:hover + h3.navItemHeader:after {
    width: 100px;
    height: 100px;
    bottom: -60px;
    opacity: 1;
}
/*--- END: desktop vs mobile*/

/*infoMenu*/
div#module_173 ul.nav li.item-652 a:after {
    content: 'Kontakt Flohkiste';
    position: relative;
    font-size: 14px;
    height: 20px;
    top: 0;
    left: 0px;
}
div#module_173 ul.nav li.item-652 a span {
    display: none;
}
body.desktop div.right .infoMenu,
body.tablet div.right .infoMenu {
    border: 2px solid #e3e3e3;
    box-shadow: 0px 4px 20px -5px #9e9e9e;
}
body.mobile.phone div.right .infoMenu ul {
    border: 2px solid #e3e3e3;
    box-shadow: 0px 4px 20px -5px #9e9e9e;
} 
div.right .infoMenu h3 {
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    background: #233c8e;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
}
div.right .infoMenu ul.nav.menu li {
    padding: 7px 0 7px 40px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}
div.right .infoMenu ul.nav.menu li:last-child {
    padding: 7px 0 0px 40px;
    border-bottom: none;
}
body.phone div.right.mobileInfoNav .infoMenu ul.nav.menu li,
body.phone div.right.mobileInfoNav .infoMenu ul.nav.menu li:last-child {
    padding: 7px 0 7px 20vw;
}
div.right .infoMenu ul.nav.menu a {
    color: #233c8e;
    font-size: 14px;
    transition: color .3s ease-in-out;
}
div.right .infoMenu ul.nav.menu li.current.active:before,
div.right .infoMenu ul.nav.menu li.current:before {
    content: '';
    width: 15%;
    height: 100%;
    position: absolute;
    background: #f3b408;
    left: 0px;
    bottom: 0px;
}
div.right .infoMenu ul.nav.menu li.current.active a,
div.right .infoMenu ul.nav.menu li.current a {
    font-weight: bold;
}
div.right .infoMenu .nav>li>a:hover,
div.right .infoMenu .nav>li>a:focus {
    background-color: transparent;
    color: #f3b408;
}
body.desktop div.right,
body.tablet div.right {
    margin-bottom: 30px;
}

 /*Menue / Suche*/
body.desktop dd.result-text {
    margin-bottom: 30px;
    width: 80%;
}
body.mobile dd.result-text {
    margin-bottom: 20px;
}
body#body input#mod-search-searchword {
    border-radius: 0 !important;
    max-width: 90px;
    height: 22px;
    position: relative;
    left: -5px;
}
body#body.mobile input,
body#body.mobile input.button { /*ios inputfeld border-radius reset*/
    -webkit-appearance: none;
    border: none;
    border-radius: 0 !important;
}
body#body.mobile input#jform_com_fields_dsgvo0 { 
    -webkit-appearance: checkbox;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
}
body#body.mobile input#jform_contact_email,
body#body.mobile input#jform_contact_name,
body#body.mobile input#jform_contact_emailmsg { 
    border: 1px solid #e2e2e2;
    border-radius: 2px;
}
body.site .dropdown-menu>li>a {
    line-height: 10px;
}
body.site .navbar-inner form {
    margin: 0px;
}
body.site .navbar-inner {
    padding: 20px 0 0 0;
}
ul.nav.menu.nav-pills li a,
ul.nav.menu.nav-pills li.divider {
  color: #9b9b9b;
}
.fullwidth.Shadow {
    box-shadow: 0px 15px 20px -12px #e6e6e6;
}
body.desktop li.divider a.dropdown-toggle {
    cursor: text;
}
 body.site .navbar .nav li.dropdown .caret,
 body.site .navbar .nav li.dropdown .caret {
    border-top-color: #f3b408;
    border-bottom-color: #f3b408;
    position: absolute;
    left: 45%;
    top: 20px;
    border-top: 8px solid #f3b408;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
body.site .navbar .nav>.active>a,
body.site .navbar .nav>.active>a:hover,
body.site .navbar .nav>.active>a:focus,
body.site .navbar .nav li.dropdown.open>.dropdown-toggle,
body.site .navbar .nav li.dropdown.active>.dropdown-toggle,
body.site .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    color: #233c8e;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
}
body.site .dropdown-menu li a {
    padding: 10px 20px;
}
body.site.desktop .dropdown-menu>li>a:hover,
body.site.desktop .dropdown-menu>li>a:focus,
body.site.desktop .dropdown-submenu:hover>a,
body.site.desktop .dropdown-submenu:focus>a,
body.site.desktop .dropdown-menu>.active>a,
body.site.desktop .dropdown-menu>.active>a:hover,
body.site.desktop .dropdown-menu>.active>a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #f3b408;
    background-image: none;
}
body.site .navbar .nav li {
    position: relative;
}
body.site ul.nav.menu.nav-pills>li>a:hover {
    color: #233c8e;
}
body.site .navbar .nav>li.current.active:before {
    content: '';
    width: 20px;
    height: 20px;
    background: orange;
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: -1;
    transform: scale(0,0);
        animation: activeAni .55s cubic-bezier(.44,-0.74,.54,1.98) .5s forwards;
          -webkit-animation: activeAni .55s cubic-bezier(.44,-0.74,.54,1.98) .5s forwards;
}
    @-webkit-keyframes activeAni {
      0%{-webkit-transform: scale(0,0);transform: scale(0,0);}
      50% {-webkit-transform: scale(1.2,1.2);transform: scale(1.2,1.2);}
      100% {-webkit-transform: scale(1,1);transform: scale(1,1);}
    }
    @keyframes activeAni {
      0%{-webkit-transform: scale(0,0);transform: scale(0,0);}
      50% {-webkit-transform: scale(1.2,1.2);transform: scale(1.2,1.2);}
      100% {-webkit-transform: scale(1,1);transform: scale(1,1);}
    }
body.desktop ul.nav-child.unstyled {
    padding: 0px;
}
body.desktop ul.nav-child.unstyled li {
    font-size: 14px;
}
.navbar .nav > li {
  display: inline-block;
}
.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px 0;
    background-color: transparent;
    background-image: none;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto 50px;
}
.navbar {
    margin: 0px;
    padding: 0;
    position: relative;
    z-index: 999;
    bottom: 15px;
    background: #fff;
}


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }

   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
   body.desktop .nav-pills > li.dropdown ul.dropdown-menu>li:hover .dropdown-submenu .dropdown-menu,
   body.desktop .nav-tabs > li.dropdown ul.dropdown-menu>li:hover .dropdown-submenu .dropdown-menu {
      display: none;
   } 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenul:hover .dropdown-menu {
      display: block;
   }
   body.desktop .nav-pills > li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu >li:hover .dropdown-menu,
   body.desktop .nav-tabs > li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu  >li:hover .dropdown-menu{
      display: block;
   }   
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}
.carousel-inner .item p {
    line-height: 25px;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/* non-critical CSS */

/*bottom*/
body.site .custonNewsImg img {
    margin: 10px 10px 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
body.site .carousel {
    height: 220px;
}
body.site .carousel-indicators {
    bottom: 0px;
    right: 0px;
    top: initial;
}
body.site .carousel-indicators li {
    background-color: #e2e2e2;
}
body.site .carousel-indicators .active {
    background-color: #f3b408;
}
.bottom3 {
    margin-bottom: 30px;
}
.bottom3-wrap {
    padding-bottom: 60px;
}
div#module_167 .custom {
    text-align: center;
}
div#module_167 img {
    transform: scale(1,1);
    transition: transform 1s ease-in-out;
    padding: 10px 0;
}
div#module_167 img:hover {
    transform: scale(1.1,1.1);
    transition: transform 2s ease-in-out;
}
.module_bottom3.position_bottom13 h3,
.module_bottom3.position_bottom13 h3 a {
    font-size: 21px;
    color: #f4b500;
}
.module_bottom3 {
    box-shadow: 0px 4px 30px -10px #9e9e9e;
    overflow: hidden;
}
.module_bottom3 div[id*="module_"] {
    padding: 10px 15px 20px;
}
a.readmore {
    color: #f4b500;
}

/*footer*/
footer.footer {
    position: relative;
    bottom: 0;
}
.copyName {
    text-transform: uppercase;
    color: #223d8c;
}
.copyWrapper p:last-child a {
    color: #6c6a6a;
    text-transform: uppercase;
}


/*cookie control*/
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
  body#body #cookiesck_accept {
      background: #eeb600;
      float: none;
      width: 100px;
      margin: 20px auto 0px !important;
      border: 1px solid #fff;
      text-shadow: 2px 2px 3px #353535;
  }
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #eeb600;
    text-shadow: none;
    border-color: #eeb600;
}
@media(max-width: 1280px) {
  body#body.site #cookiesck_accept {
      width: 80px;
  }    
  body#body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 10px 10px 10px 0 !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}